version: '2.1'
  
services:
  etherpad:
    image: etherpad/etherpad:latest
    container_name: etherpad
    environment:
      NODE_ENV: production
      TITLE: "Le Filament Pad"
      FAVICON: "https://le-filament.com/icon.png"
      SKIN_NAME: colibris
      SHOW_SETTINGS_IN_ADMIN_PAGE: "true"
      DB_TYPE: postgres
      DB_HOST: db
      DB_PORT: 5432
      DB_NAME: {{ pad_db_name }}
      DB_USER: {{ pad_db_user }}
      DB_PASS: {{ pad_db_pass }}
      ADMIN_PASSWORD: {{ pad_admin_pass }}
      TRUST_PROXY: "true"
    restart: unless-stopped
    depends_on:
      - db
    networks:
      default:
      inverseproxy_shared:
    labels:
      traefik.docker.network: "inverseproxy_shared"
      traefik.enable: "true"
      traefik.http.routers.etherpad-unsec.entrypoints: "http"
      traefik.http.routers.etherpad-unsec.middlewares: "https-redirect@file"
      traefik.http.routers.etherpad-unsec.rule: "Host(`{{ pad_url }}`)"
      traefik.http.routers.etherpad.entrypoints: "https"
      traefik.http.routers.etherpad.middlewares: "security-headers@file"
      traefik.http.routers.etherpad.rule: "Host(`{{ pad_url }}`)"
      traefik.http.routers.etherpad.service: "etherpad"
      traefik.http.routers.etherpad.tls: "true"
      traefik.http.routers.etherpad.tls.certresolver: "le"
      traefik.http.routers.etherpad.tls.options: "default@file"
      traefik.http.services.etherpad.loadbalancer.server.port: "9001"

  db:
    image: postgres
    container_name: etherpad_db
    restart: unless-stopped
    environment:
      POSTGRES_DB: {{ pad_db_name }}
      POSTGRES_USER: {{ pad_db_user }}
      POSTGRES_PASSWORD: {{ pad_db_pass }}
    volumes:
      - db:/var/lib/postgresql/data:z

networks:
    default:
        internal: true
        driver_opts:
            encrypted: 1
    inverseproxy_shared:
        external: true

volumes:
    db:

